.input {
	display: block;
	margin-bottom: 10px;
}

.btn {
	height: 40px;
	width: 80px;
	border-radius: 3px;
	font-weight: bold;
	margin-bottom: 10px;
}

.btn__start {
	background-color: green;
	margin-right: 10px;
}

.btn__stop {
	background-color: red;
}

.image {
	display: block;
	position: absolute;
}